{% extends 'layout.html' %}

{% block title%}Home{% endblock %}

{% block content%}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		{% if session['username']%}
		<h1>Welcome back, {{ session['username'] }}!</h1>
		{% else %}
		<h1 align="center">"Welcome"</h1>
		{% endif %}
	</div>
</div>

{% endblock %}