{% extends 'layout.html' %}

{% block title%}Login{% endblock %}

{% block content%}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form action="/login" method="POST">
			<h1>Welcome!</h1>
			 <div class="form-group">
  				<label>Username:</label>
  				<input type="text" placeholder="mario" class="form-control" name="username" required>
			</div>

			<div class="form-group">
  				<label>Password:</label>
  				<input type="password" placeholder="mario.Rossi" class="form-control" name="password" required>
			</div> 
			<div class="msg">{{ msg }}</div>
			<div class="form-group">
  				<button type="submit" class="btn btn-primary">Login</button>
			</div> 
			<a href="/register"><p style="color: white">Not a member yet? Register now!</p></a>
		</form>
	</div>
</div>

{% endblock %}