{% extends 'layout.html' %}

{% block title%}Create a new Training{% endblock %}

{% block content%}

<div class="row">
	<h2 style="text-align: center;">Here you can create a new training</h2>
	<div class="col-md-6 col-md-offset-3">
		<form action="/" method="POST">
			
			 <div class="form-group">
  				<label>Name:</label>
  				<input type="text" class="form-control" name="training">
			</div>
			<button form="form-control" style="text-align: left; color: black; ">Create</button>
		</form>
	</div>
</div>

{% endblock %}