{% extends 'layout.html' %}

{% block title%}Register{% endblock %}

{% block content%}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form action="/register" method="POST">
			<h1>Welcome, register now!</h1>
			 <div class="form-group">
  				<label>Username:</label>
  				<input type="text" placeholder="mario" class="form-control" name="username">
			</div>

			<div class="form-group">
  				<label>Email:</label>
  				<input type="text" placeholder="mario.Rossi@example.com" class="form-control" name="email">
			</div>

			<div class="form-group">
  				<label>Password:</label>
  				<input type="password" placeholder="mario.Rossi" class="form-control" name="password">
			</div> 
				<div class="msg">{{ msg }}</div>
			<div class="form-group">
  				<button type="submit" class="btn btn-primary">Register</button>
			</div> 
		</form>
	</div>
</div>

{% endblock %}